body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensures the entire viewport height is covered */
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    margin-bottom: 2em;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

main {
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    padding: 1em;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.column {
    flex: 1;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Adjust text alignment */
}

.sickness-column {
    background-color: #FFD700; /* Gold */
}

.remedy-column {
    background-color: #87CEFA; /* Light Sky Blue */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    margin-bottom: 0.5em;
}

li:hover {
    background-color: #f0f0f0;
}

#remedy-display {
    display: none;
}

button {
    margin-top: 2em;
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text
